<ion-view>
    <ion-nav-buttons side="primary">
        <h1 class="title">组织部</h1>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <div class="item item-a-right item-inset">
                <a href="#">
                    <p class="font-size-big"><span class="name">张三</span><span>18790527612</span></p>
                    <p class="font-size-small"><span class="date">组织部</span><span>部长</span></p>
                </a>
                <a class="item-icon-right" style="padding:0;">
                    <i class="icon ion-email icon-email-01"></i>
                </a>
                <span class="line"></span>
                <a class="item-icon-right" style="padding:0;">
                    <i class="icon ion-ios-telephone ion-ios-telephone-01"></i>
                </a>
            </div>
            <div class="item item-button-right item-inset">
                <a href="#">
                    <p class="font-size-big"><span class="name">张三</span><span>18790527612</span></p>
                    <p class="font-size-small"><span class="date">组织部</span><span>部长</span></p>
                </a>
                <a class="item-icon-right" style="padding:0;">
                    <i class="icon ion-email icon-email-01"></i>
                </a>
                <span class="line"></span>
                <a class="item-icon-right" style="padding:0;">
                    <i class="icon ion-ios-telephone ion-ios-telephone-01"></i>
                </a>
            </div>
            <div class="item item-button-right item-inset">
                <a href="#">
                    <p class="font-size-big"><span class="name">张三</span><span>18790527612</span></p>
                    <p class="font-size-small"><span class="date">组织部</span><span>部长</span></p>
                </a>
                <a class="item-icon-right" style="padding:0;">
                    <i class="icon ion-email icon-email-01"></i>
                </a>
                <span class="line"></span>
                <a class="item-icon-right" style="padding:0;">
                    <i class="icon ion-ios-telephone ion-ios-telephone-01"></i>
                </a>
            </div>
            <div class="item item-button-right item-inset">
                <a href="#">
                    <p class="font-size-big"><span class="name">张三</span><span>18790527612</span></p>
                    <p class="font-size-small"><span class="date">组织部</span><span>部长</span></p>
                </a>
                <a class="item-icon-right" style="padding:0;">
                    <i class="icon ion-email icon-email-01"></i>
                </a>
                <span class="line"></span>
                <a class="item-icon-right" style="padding:0;">
                    <i class="icon ion-ios-telephone ion-ios-telephone-01"></i>
                </a>
            </div>
            <div class="item item-button-right item-inset">
                <a href="#">
                    <p class="font-size-big"><span class="name">张三</span><span>18790527612</span></p>
                    <p class="font-size-small"><span class="date">组织部</span><span>部长</span></p>
                </a>
                <a class="item-icon-right" style="padding:0;">
                    <i class="icon ion-email icon-email-01"></i>
                </a>
                <span class="line"></span>
                <a class="item-icon-right" style="padding:0;">
                    <i class="icon ion-ios-telephone ion-ios-telephone-01"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
