<ion-view view-title="任务">
<ion-nav-buttons side="primary">
  <h1 class="title">任务</h1>
  <div class="buttons">
       <button class="button button-clear icon ion-funnel"></button>
       <button class="button button-clear icon ion-ios-plus-empty"></button>
  </div>
  
</ion-nav-buttons>
<ion-content class="padding">
    <div class="list card">
        <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
        <div class="item item-button-right">
            Call Ma
            <button class="button icon-left ion-star button-positive">
                审批
            </button>
        </div>
    </div>
    <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
    <div class="item item-button-right">
        Call Ma
        <button class="button icon-left ion-star button-positive">
            审批
        </button>
    </div>
    <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
    <div class="item item-button-right">
        Call Ma
        <button class="button icon-left ion-star button-positive">
            审批
        </button>
    </div>
</ion-content>
</ion-view>