<ion-view view-title="我">
    <ion-nav-buttons side="primary">
        <h1 class="title">我</h1>
        <button class="button icon ion-ios-calendar"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list card">
            <a href="#/tab/colleague" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-people"></i> 我的同事
                <i class="icon ion-chevron-right"></i>
            </a>
            <a href="#" class="item item-icon-left item-icon-right">
                <i class="icon ion-android-mail"></i> 我的消息
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
        <div class="list card">
            <a href="#" class="item item-icon-left item-icon-right">
                <i class="icon ion-android-settings"></i> 设置
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
