<ion-view view-title="任务">
<ion-nav-buttons side="primary">
  <h1 class="title">任务</h1>
  <button class="button icon ion-ios-calendar"></button>
</ion-nav-buttons>
<ion-content class="padding">
<div class="list card">

    <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
    <div class="item item-button-right">
        <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
        <button ng-show="true" class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
            审批
        </button>
    </div>
</div>
<div class="list card">

    <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
    <div class="item item-button-right">
        <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
        <button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
            审批
        </button>
    </div>
</div>
<div class="list card">

    <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
    <div class="item item-button-right">
        <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
        <!--<button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">-->
            <!--审批-->
        <!--</button>-->
    </div>
</div>
<div class="list card">

    <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
    <div class="item item-button-right">
        <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
        <button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
            审批
        </button>
    </div>
</div>
<div class="list card">

    <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
    <div class="item item-button-right">
        <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
        <!--<button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">-->
        <!--审批-->
        <!--</button>-->
    </div>
</div>
<div class="list card">

    <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
    <div class="item item-button-right">
        <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
        <button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
            审批
        </button>
    </div>
</div>
<div class="list card">

    <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
    <div class="item item-button-right">
        <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
        <!--<button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">-->
        <!--审批-->
        <!--</button>-->
    </div>
</div>
<div class="list card">

    <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
    <div class="item item-button-right">
        <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
        <button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
            审批
        </button>
    </div>
</div>
<div class="list card">

    <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
    <div class="item item-button-right">
        <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
        <!--<button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">-->
        <!--审批-->
        <!--</button>-->
    </div>
</div>
<div class="list card">

    <div class="item item-divider "><b>项目名称项目名称项目名称项目</b></div>
    <div class="item item-button-right">
        <p class="font-size-small"><i class="num"><img src="img/number.png" /></i>HN85787989</p>
        <button class="button icon-left ion-ios-checkmark-empty button-clear button-positive">
            审批
        </button>
    </div>
</div>
</ion-content>
</ion-view>