<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- 任务 Tab -->
  <ion-tab title="任务" icon-off="ion-ios-folder-outline" icon-on="ion-ios-folder" href="#/tab/task">
    <ion-nav-view name="tab-task"></ion-nav-view>
  </ion-tab>
  <!-- 项目 Tab -->
  <ion-tab title="项目" icon-off="ion-ios-keypad-outline" icon-on="ion-ios-keypad" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  <!-- 客户 Tab -->
  <ion-tab title="客户" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  <!-- 我 Tab -->
  <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/me">
    <ion-nav-view name="tab-me"></ion-nav-view>
  </ion-tab>
</ion-tabs>
